<?xml version="1.0"?>


<configuration>

    <appSettings>
      <add key="EfcCalculation.Constants.2223" value="~/App_Data/EfcCalculationConstants.2223.xml"/>
      <add key="AidEstimation.Constants.2223" value="~/App_Data/AidEstimationConstants.2223.xml" />
      <add key="PercentageGrant.Dependent.2223" value="75" />
      <add key="PercentageGrant.Independent.2223" value="75" />
    </appSettings>
  
    <system.web> 
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
  
</configuration>
